/* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
  font-style: italic;
    font-weight: 300;
    src: local(''),
         url('./fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v30-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('./fonts/roboto-v30-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v30-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('./fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v30-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    background: #1F2937;
}

header,
.main-container,
.information,
.quote-container,
.signup-container,
footer {
    max-width: 1000px;
    margin: auto;
}

.information-container,
.signup-section {
    background: white;
}

.quote-section {
    background: #E5E7EB;
}

header {
    padding: 16px;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

header ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

header ul a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.main-container {
    margin: 64px auto;
    display: flex;
    padding: 16px;
    gap: 32px;
}

.main-container .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.main-container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-container p {
    color: #E5E7EB;
    font-size: 18px;
}

.main-container button,
.signup-section button {
    margin: 8px 0;
    padding: 8px 32px;
    border: none;
    background: #3882F6;
    color: #F9FaF8;
    font: inherit;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.main-container .img {
    width: 550px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #E5E7EB55;
}

.information {
    text-align: center;
    padding: 64px 0 128px;
}

.information h1 {
    margin-bottom: 64px;
}

.information .card-list {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.information .card-list .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #555;
}

.information .card-list .img {
    width: 164px;
    height: 164px;
    border: 4px #3882F6 solid;
    border-radius: 16px; 
}

.quote-section {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    max-width: 764px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container .quote {
    font-weight: 100;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-container .quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.signup-section {
    padding: 84px 0;

}

.signup-section .signup-container {
    background: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 48px 0;
}

.signup-section .signup-text {
    color: #F9FAF8
}

.signup-section button {
    border: 2px solid white;
}

footer {
    height: 108px;
    color: #F9FaF8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}


/* FOR MOBILE DEVICES */

@media only  screen and (max-width : 480px)
{ 
.menu-btn{
    display: block;
}

 .navbar{
    padding: 0;
 }


 .logo{
    position: absolute;
   top: 30px;
   left: 30px;
}
.nav-links
{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background:#484872;
    margin-top: -900px;
    transition: all 0.5s ease;

}
.mobile-menu{
    margin-top: 0px;
    border-bottom-right-radius: 30%;

}
.nav-links li{
    margin: 30px auto;
     


}

.main-container{
    display: flex;
    flex-direction: column;
}
.hero-text{
    padding-top: 40px;
}

.heading{
    font-size: smallest;
    text-align: center;
}
.info{
    padding: 30px;
    text-align: center;
    
}
.card-list{
    display: flex;
    flex-direction: column;
}

.quote-container{
    width: 300px;
    height: 500px;
    font-size: smaller;
}

.signup-container{
    display: flex;
    flex-direction: column;
  
   
}

.sign-up{
    text-align: center;
}
.placeholder-img{
    text-align: center;
    width: 80px;
}

.wrapper
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-button
{
    margin: 8px 0;
    padding: 8px 32px;
    border: none;
    background: #3882F6;
    color: #F9FaF8;
    font: inherit;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    
}

}